@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenides a mi página </h1>
    <p class="lead">
        Oh, he's a frozen treat with an all new taste
        Cause he came to this planet from outer space
        A refugee of an interstellar war
        But now he's at your local grocery store

        Cookie Cat
        He's a pet for your tummy
        Cookie Cat
        He's super duper yummy
        Cookie Cat
        He left his family behind
        Cookie Caaat!
    </p>
    <p><a href="https://youtu.be/Lo0IY9cD3Bg" class="btn btn-primary btn-lg">Listen the whole Song &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Qué quieres hacer?</h2>
        <p>
            ¡En esta aplicación, con tan sólo tener UN USUARIO CREADO te permitimos acceder a los datos de TODOS los demás usuarios registrados!
            ¿Por qué querrías verlo? ¡Quién sabe!

            ¿Es legal? ¡Difícil darse cuenta! 

        </p>
        <p><a class="btn btn-default" href="#">Genera un reporte en PDF <b>AQUÍ</b>&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuevas Funcionalidades</h2>
        <p>Esta página todavía está en proceso de creación. ¡Deleitate con este botón que no lleva a ningún lado!</p>
        <p><a class="btn btn-default" href="#">CLIQUÉAME &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Espacio para futuras tareas</h2>
        <p>Este espacio está libre para ya tener un botón prolijo. Recuerden reciclar en la vida virtual y real</p>
        <p><a class="btn btn-default" href="https://www.ecoembes.com/es/ciudadanos/envases-y-proceso-reciclaje/como-reciclar-bien/que-podemos-reciclar">Aprende más sobre reciclaje &raquo;</a></p>
    </div>
</div>